{% extends "base.html" %}

{% load i18n %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1 class="display-1">{{ title }}</h1>
    <div class="mt-4">
        <a class="btn btn-primary btn-lg" href="{% url "appointments:new" %}">{% trans "New" %}</a>
    </div>
    <hr class="mb-5">

    {% if appointments %}

            <div class="table-responsive">
                {% include "./partials/_appointments_table.html" %}
            </div>
            {% if has_expired %}
            <div class="mt-5 d-flex justify-content-end">
                <a class="btn btn-danger" href="{% url "appointments:delete_expired" %}">Delete expired Appointments</a>
            </div>
            {% endif %}
    {% else %}
        <p>{% trans "No Appointments available." %}</p>
    {% endif %}


{% endblock %}