{% extends "base.html" %}
{% load i18n %}

{% load i18n %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1 class="display-1 mb-3">{{ title }}</h1>
    <div class="mb-2">
        <span class="badge {% if appointment.is_expired %}text-bg-danger{% else %}text-bg-success{% endif %} fs-5">{{ appointment.date|date:"d.m.Y / H:i" }}</span>
    </div>
    <div class="mb-5">
        {% for tag in appointment.tags.all %}
        
            <span class="badge text-bg-secondary">
                <a class="link-light link-underline-opacity-0" href="{% url "appointments:tags_show" pk=tag.pk %}">
                    {{ tag.title }}
                </a>
            </span>
        
        {% endfor %}
    </div>

    {% if appointment.description %}
        <div class="card mb-3">
            <div class="card-body">
                <p>{{ appointment.description|linebreaksbr }}</p>
            </div>
        </div>
    {% endif %}
    <div class="d-flex gap-1">
        <a class="btn btn-primary" href="{% url "appointments:update" pk=appointment.pk %}">{% trans "Edit" %}</a>
        <a class="btn btn-danger" href="{% url "appointments:delete" pk=appointment.pk %}">{% trans "Delete" %}</a>
    </div>
    {% include "./partials/_back_link.html" %}
{% endblock %}