{% extends "base.html" %}

{% load i18n %}
{% block title %}
    Delete {{ title }}
{% endblock %}

{% block content %}
    <div class="card border-danger">
        <div class="card-header bg-danger text-white">
            {{ title }}
        </div>
        <div class="card-body">
            <div class="mb-3"> 
                {% trans "Do you really want to delete this Tag?" %}

            </div>
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">{% trans "Delete" %}</button>
            </form>
        </div>
    </div>
    {% include "../partials/_back_link.html" %}


{% endblock %}