{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body">
                {% include "../partials/_form_inner.html" %}
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
                
            </div>
        </div>
        {% include "../partials/_back_link.html" %}
    </form>
{% endblock %}