{% extends "base.html" %}

{% load i18n %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1 class="display-1 mb-5">{{ title }}</h1>
    <div>
        {% if appointments %}
            <div class="table-responsive">
                {% include "../partials/_appointments_table.html" %}
            </div>
        {% else %}
            <p>
                {% trans "No Appointments available." %}
            </p>
        {% endif %}
    </div>
    {% include "../partials/_back_link.html" %}


{% endblock %}