{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <strong>{{ title }}</strong>
            </div>
            <div class="card-body">
                {% include "../partials/_form_inner.html" %}
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </div>
        {% include "../partials/_back_link.html" %}
    </form>
{% endblock %}